# Task 2: ARIMA Model for Tesla Stock Price Forecasting

This notebook implements an ARIMA model to forecast Tesla (TSLA) stock prices
using historical time series data.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from pmdarima import auto_arima
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [4]:
import yfinance as yf

tsla_data = yf.download(
    "TSLA",
    start="2015-01-01",
    end="2026-01-15",
    auto_adjust=True,
    progress=False
)

tsla_prices = tsla_data["Close"]
tsla_prices.head()

c:\Users\teshi\Desktop\Projects\KAIM\portfolio-optimization\venv\Lib\site-packages\yfinance\scrapers\history.py:201: Pandas4Warning: Timestamp.utcnow is deprecated and will be removed in a future version. Use Timestamp.now('UTC') instead.
  dt_now = pd.Timestamp.utcnow()

Ticker           TSLA
Date
2015-01-02  14.620667
2015-01-05  14.006000
2015-01-06  14.085333
2015-01-07  14.063333
2015-01-08  14.041333

In [5]:
train = tsla_prices.loc[:'2024-12-31']
test = tsla_prices.loc['2025-01-01':]